#availJobs{
	height: 100px;
	width: 350px;
	border: 2px solid black;

}

#jobsList{
	height: 20px;
	width: 270px;
	border: 2px solid black;
	font-size: 18px;
	margin-top: 3px;
	margin-bottom: 3px;

}

#formForJobs{
	height: 300px;
	width: 350px;
	border: 2px solid black;
	margin-top: 20px;
	font-size: 20px;


}