#jobshow_wrapper{
	width:100%;
	height:auto;
	font-family: main_font;
}

.jobshow_column{
	width: 35%;
	margin-left:5vw;
	margin-top:10vh;
  float: left;
  vertical-align: bottom;
  text-align: center;
}

#job_edit_form{
  @include our_general_text;
  text-align: left;
  padding: 1vmax;
  padding-bottom: 4vmax;
  border-radius: 1vmax;
  margin-top: 2vmax;
  background-color: rgba($quiet_color, 0.1);
  display:none;
}

.boat_photo{
  height: auto;
  min-width: 10vmax;
  max-width: 10vmax;
  max-height: 10vmax;
  margin: 0.5vmax;
  display: inline-block;
  vertical-align: text-top;
}

#jobshow_title{
	@include page_title;
	margin-bottom: 20px;
	display: block;
	text-align: left;
}

.jobshow_info {
  position: relative;
  text-decoration: none;
  font-family: main_font;
  font-size: 1.5vmax;
  line-height: 1.5vmax;
  color: rgb(40, 50, 50);
  background: none;
  border: none;
  user-select: none;
  box-shadow: none;
  outline-width: 0;
  margin-bottom:5px;
  overflow-wrap: break-word;
  width: 100%;
}


.job_update_button, .job_delete_button{
	@include button_general;
	margin-right:5px;
	float: left;
	display: inline-block;
}

.job_delete_button{
	background-color:$danger_color;
}

.boat_assign_button{
	@include button_general;
}

.jobshow_field{	
  width:100%;	
  position: relative;
  font-family: main_font;
  font-size: 1.5vmax;
  line-height: 1.5vmax;
  text-align: center;
  color: rgb(40, 50, 50);
  background: none; 
  border: none;
  border-bottom: 0.1vmax solid rgb(40, 50, 50);
  outline-width: 0; 
  margin-bottom:5px;
}

.jobshow_boats_assigned{
	margin-left:10px;
	text-align:center;
	width:100px;
	margin-top:20px;
	display:inline-block;
	margin-bottom: 50px;
	// float:left;
}

.jobshow_boats_assigned_name {
    width:100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  // background-color: red;
  // border: 1px red solid;
}

.jobshow_boats_listed{
	margin-left:10px;
	text-align:center;
	margin-top:20px;
	display:inline-block;
	margin-bottom: 50px;
	// float:left;
  @include our_general_text;
  padding: 1vmax;
  border-radius: 1vmax;
  margin-top: 2vmax;
  width: 35%;
    
}

.jobshow_boats_listed:hover{
	background-color: rgba($quiet_color, 0.1);
}

#edit_gear{
	margin-bottom:30px;
}

#edit_gear:active{
	@include button_general_pressed 
}

.jobshow_boats_infotext {
  @include our_general_text;
  margin-bottom: 1vmax;
}












