#edit_wrapper{
  position:fixed;
  top: 0;
  left: 0;
  width:100%;
	height: 100vh;   
	font-family: main_font;
	background-image: url(../../assets/signup.jpg);
  background-size: cover;
  overflow: hidden;
}

#edit_form{
	background-color: rgba(225,225,225, 0.7);
	height: auto;
	width:40%;
  margin: 0 auto;
  margin-top: 6vmax;
	padding: 2%;
	border-radius: 0.1vmax;
}

#edit_title{
	@include page_title;
	margin-top: 0.1vmax;
  margin-bottom: 1vmax;
}

.edit_field{
	@include regular_textfield;
	margin-bottom: 0.1vmax;
}

.edit_update{
	margin-top: 0.1vmax;
	@include button_general;
	margin-bottom: 0.1vmax;
	display: block;
}

.edit_delete{
  margin-top: -0.1vmax;
  margin-left: 0;
	@include button_general;
	margin-bottom: 0.1vmax;
  background-color: $danger_color;
}

.small_label {
  @include light_text;
  color: $dark_color;
  
}